<style>

        a:hover{
        text-shadow: 2px 2px 5px black;
         width: 280px;
          height: 280px;
        }
        img:hover{
             box-shadow: 10px 10px 5px #D81212;
             width: 280px;
          height: 280px;
        }


        body{
            background-color:#0f0f0f;
        }
        h1 {
            font-size: 100px;
            font-weight: bold;
            color: #D81212;
            margin:auto;
            text-align: center;


        }
        h2 {
            Background-color:#C4CBCA;
            color:#D81212;
            text-align: center;
            border-style: solid;
            border-width: 5px;
            Background-color:#C4CBCA;

        }
        h3 {
            Background-color:#C4CBCA;
            color#D81212;
            text-align: center;
            border-style: solid;
            border-width: 5px;
            Background-color:#C4CBCA;
        }
        h3 {
            Background-color:#C4CBCA;
            color:#D81212;
        }
        h5 {
            Background-color:black;
        }
        .img{
        border-radius: 25px;
      background-position: left top;
      background-repeat: repeat;
      padding: auto;
      width: 300px;
      height: 300px;
      border-style:outset;
      border-color:#D81212;
      transition: width 1s, height 1s;






        }
        .flex-container{
        display: flex;
         flex-wrap: wrap;
        justify-content:center;

        }
        .flex-container > div {
          width: auto;
          margin: 10px;
        ::-webkit-scrollbar {width: 70px;

        }

        ::-webkit-scrollbar-track {background-color: #00000;border-radius: 2px;

        }

        ::-webkit-scrollbar-thumb {background-color: #fc4be1;border-radius: 2px;

        }
        p {
            font-size:40px;
            background-color:#C4CBCA;
            outline-style:outset;
            outline-color:red;
            font-size:30px;
        }
        img {
            border-color:red;
        }



    </style>
